
 
 body {
  margin: none;
 }
header {
    position: fixed;

    top: 0;
    width: 100vw;
    
z-index: 1000;
   /
    /* Autres styles personnalisés selon vos besoins */
  }
  
  /* CSS pour le footer */
  footer {
 
    margin: 0;
    width: 100%;
    height: auto;
    z-index: 100; /* Assure que le footer reste au-dessus du contenu */
   
  

    background-color: #6b6666f6; /* Couleur de fond du header */
  
  }
  
  /* CSS pour le contenu principal */
  .main-content {
    margin-top: 10vh; /* Marge en haut pour éviter le chevauchement avec le header */
   margin-bottom: 0; /* Marge en bas pour éviter le chevauchement avec le footer */


   background-color:  rgba(43, 51, 15, 0.432);

  }
  
  
  .parallax {
    background-image: url("https://i.etsystatic.com/21916349/r/il/a756da/3962508333/il_794xN.3962508333_jf2j.jpg");
    background-attachment: fixed; /* Fixe l'image pendant le scroll */
    background-size: cover ; /* L'image prendra 100% de l'espace, quitte à la crop */
    background-position: center; /* Centre la position de l'image */
    background-repeat: no-repeat; /* Empêche l'image de se répéter en fonction de la taille d'écran */
    z-index: -10;
    overflow: hidden;
 


   
   
  
  }
  
  
  nav {
    display: flex;
  position: fixed;
  width: 100vw;
  background-color: #6b6666f6; /* Couleur de fond du header */
  align-items: center;

  justify-content: space-between;
  z-index: 100;

  
  box-shadow: inset 0px 1px 0px #bfbfc4;
  
  }
  
  a {
    font-size: 20px;
    color: #7c95c5;
    text-shadow: solid 4px  #d9d9de;
  }
  
  
  .nav-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 15px;
  }
  
  
  
  .nav-icon img {
  width: 120px;
  height: 125px;
  position: relative;
  }
  
  
  
  .toggle {
  display: none;
  }

  .navlinks-container a {
  display: flex;
  margin: 0 10px;
  font-size: 22px;
  font-weight: 600;
  vertical-align: middle;
  
  color: #7c95c5;
  text-shadow: solid 4px  #d9d9de;
  position: relative;
  }
  
  
  .navlinks-container a::before {
    display: flex;
    position: relative;
    margin: 0 10px;
    width: 60%;
    color: #657075;
    font-size: 25px;
  font-weight: 800;
  justify-content: center;
  vertical-align: middle;
  color: #69717ecd;
  text-shadow: solid 4px  #cdcdd4;
  z-index: 1000;
  }
  
  .navlinks-container a::after {
  content: "";
  display: block;
  position: absolute;
  margin: 0 10px;
  bottom: -3px;
  width: 100%;
  height: 1px;
  color: #3391b3;
  transform: scale(0);
  transform-origin: left;
  background: #a5969662;
  transition: transform 0.3s ease-out;
  z-index: 1000;
  }
  .navlinks-container a:hover::after {
  transform: scaleX(1);
  }
  
  .nav-authentication {
    display: flex;
  vertical-align: middle;
    min-width: 23vh;
 
  justify-content: space-evenly;
  color: #f0f5f6;
  order: 3;
  }
  

  
  .user-toggler {

    width: 20px;
    
  
  }
  
  h2, h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
  }
  

  


 label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #dcd9d9;
  }
  
 option {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e1dbdb;
 ;
  }
  
 select {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #e1dbdb;


}

textarea {
    height: 10vh;
   
  }
  


  @keyframes slideAnimation {
  
  0% {
     
      transform: translateX(110%);
  }
  
  50% {
  
    transform: translateX(60%);
  }
  100% {
     
      transform: translateX(110%);
  }
  }
  
  
  
  .animated-img {
    
    animation: slideAnimation 6s infinite;
  
  
  }
  
  #camera_wrap_1 {
    width: 100%;
   height: 5%;
    
  }
  
  
  .carousel{
    display: block;
   background-color: #6f6d7227;
    justify-items: center;
    transition: background 0.4s ease-in;
    margin: 3rem;
    border: 0.2em solid ;
    border-color: #979292;
  }
  
  .carousel-image {
    display: flex;
    height: auto; /* Définissez une hauteur maximale pour les images */
    width: auto; /* Ajustez automatiquement la largeur en fonction de la hauteur maximale */

   
  }

  
  input[type=radio] {
    display:none;
  }
  
  .cards {
    position: absolute;
    justify-content: center;
    vertical-align: middle;
    width: 100%;
  
    height: auto;
    border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
    margin: auto;
    transition: transform 0.5s ease;
    cursor: pointer;
    background-color: transparent;

  }
  
  
  span.title  {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 800;
    color: #1b5970;
    
    justify-content: center;
    background-color: #ca99648e;
  }
  
  
  
  h1 {
 
    font-family: "neon-tubes-2-regular";
    src:
      url("https://assets.codepen.io/2585/NeonTubes2.otf") format("woff"),
      url("https://assets.codepen.io/2585/NeonTubes2.otf") format("opentype"),
      url("https://assets.codepen.io/2585/NeonTubes2.otf") format("truetype"),
  
    }
  
  
    
    .neon-red {
    --neon: hsl(355 100% 95%);
    --neon-glow: hsl(355 98% 40%);
    }
    
    .neon-blue {
    --neon: hsl(192 100% 95%);
    --neon-glow: hsl(194 100% 40%);
    }
    
    h1 > i {

    color: var(--neon);
    text-shadow: 
      0 0 20px var(--neon-glow),
      0 0 2.5vmin var(--neon-glow),
      0 0 5vmin var(--neon-glow),
      0 0 10vmin var(--neon-glow),
      0 0 15vmin var(--neon-glow);
    }
    
    @media (dynamic-range: high) {
    .neon-red {
      --neon-glow: color(display-p3 1 0 0);
    }
    
    .neon-blue {
      --neon-glow: color(display-p3 0 0.75 1);
    }
    
    h1 > i {
      text-shadow: 
        0 0 2.5vmin var(--neon-glow),
        0 0 10vmin var(--neon-glow),
        0 0 15vmin var(--neon-glow);
    }
    }
    
    
    
    h1 {
    text-align: center;
    font-family: "neon-tubes-2-regular", sans-serif;
  
  
    }
  
  
  
    
  p {
    color: #3391b3;
  
  
  }
  
  .login {
  	width: 400px;
  	background-color: #ffffff;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin: 100px auto;
}
.login h1 {
  	text-align: center;
  	color: #5b6574;
  	font-size: 24px;
  	padding: 20px 0 20px 0;
  	border-bottom: 1px solid #dee0e4;
}
.login form {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 20px;
}
.login form label {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 50px;
  	height: 50px;
  	background-color: #3274d6;
  	color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"] {
  	width: 310px;
  	height: 50px;
  	border: 1px solid #dee0e4;
  	margin-bottom: 20px;
  	padding: 0 15px;
}
.login form input[type="submit"] {
  	width: 100%;
  	padding: 15px;
 	margin-top: 20px;
  	background-color: #3274d6;
  	border: 0;
  	cursor: pointer;
  	font-weight: bold;
  	color: #ffffff;
  	transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
	background-color: #2868c7;
  	transition: background-color 0.2s;
}

  .accordion-group {
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .accordion-group li {
    cursor: pointer;
    position: relative;
    display: flex;
    overflow: hidden;
    margin: 0;
    padding: 1.6em;
    list-style: none;
    width: 16.66666667%;
    height: inherit;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
  }
  .accordion-group li h3 {
    position: relative;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    padding: 0;
    font-weight: 300;
    margin: 6.5rem 0 0;
  }
  .accordion-group li .accordion-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
  }
  .accordion-group li section {
    display: flex;
    align-items: center;
    width: 75%;
    height: 100%;
  }
  .accordion-group li section.big-section {
    width: 100%;
  }
  .accordion-group li section article {
    display: table-cell;
    vertical-align: middle;
    padding: 4rem;
    position: relative;
    right: -200%;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
  }
  .accordion-group li section article p {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1.6rem;
    color: #333;
    font-size: 1.6rem;
    letter-spacing: 0.15rem;
  }
  .accordion-group li section article p:before,
  .accordion-group li section article p:after {
    content: "";
    display: block;
    height: 1px;
  }
  .accordion-group li.out {
    width: 50%;
  }
  .accordion-group li.out section article {
    right: 0;
  }
    
  
  .accordion-group {
    height: 360px;
  }
  .accordion-group li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .accordion-group li.out h3 {
    opacity: 0;
  }
  .accordion-group li h3 {
    opacity: 1;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 2.5rem;
    padding: 0;
    margin: 10rem 0;
  }
  
  @-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  }
  @-moz-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  }
  @keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  }
  
  @media (max-width: 768px) {

  nav {
    height: 15vh;
  }
  
  
  .main-navlinks {
    
    width: auto;
  }
  
  .nav-icon {
    order: 2;
  }
  
  .toggle {
    display: flex;
    position: relative;
    justify-content: start;
    width: 50px;
    height: 50px;
    justify-items: center;
    background: #c2c2c3c1;
    box-shadow: 0 5px 15px rgba(37, 37, 41, 0.897);
    border-radius: 6px;
    border-color: #898888;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    padding: 0 10px;
   
  }
  
  .toggle span {
    position: absolute;
  
    width: 40px;
    height: 5px;
    background: #eb080cab;
    border-radius: 10px;
  
    border-width: 12px;
    transition: 1s;
  }
  
  .toggle span:nth-child(1) {
    transform: translateY(-15px);
    width: 30px;
    left: 15px;
  }
  
  .toggle.active span:nth-child(1) {
    width: 30px;
   
  
    transform: translateY(0) rotate(45deg);
    transition-delay: 0.125s;
  }
  
  .toggle span:nth-child(2) {
    transform: translateY(15px);
    width: 25px;
    left: 10px;
    right: 20px;
  }
  
  .toggle.active span:nth-child(2) {
  
    width: 40px;
    transform: translateY(0) rotate(315deg);
    transition-delay: 0.25s;
  }
  
  .toggle.active span:nth-child(3) {
    transform: translateX(55px);
  }
  
  
  
  .navlinks-container {
    display: block;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background: #c5c2c2ee;
    top: 100%;
    left: 0;
    transform: translate(-100%);
    height: 100vh;
    padding: 15px 50px 15px 20px;
    border-right: 1px solid #c5c5c6;
  }
  .open {
    transform: translate(0%);
  }
  
  .navlinks-container a {
    font-size: 15px;
    margin: 10px 0px;
  }
  
  
  .nav-authentication {
    order: 4;
    display: block;
  
  }
  
  
  .user-toggler {
    order: 3;
    display: flex;;
    cursor: pointer;
    
  }
  
  .user-toggler.img {
    width: 10px;
    color: #898888;
    border: solid 2px;
  }
  }
  
  
  @media (max-width: 767px) {
    .accordion-group {
      height: 360px;
    }
    .accordion-group li {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .accordion-group li.out h3 {
      opacity: 0;
    }
    .accordion-group li h3 {
      opacity: 1;
      -webkit-transition: all 300ms ease-in-out;
      -moz-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      transform: rotate(90deg);
      width: 2.5rem;
      padding: 0;
      margin: 10rem 0;
    }
  }
  @-webkit-keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  #search {
    height: 35px;
    min-width: 25px;
    position: relative;
    order: 6;
  }
  
  #search input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 35px;
    height: 35px;
    border: 1px solid #c0a2a2;
    border-radius: 100%;
    background: transparent;
    color: #fafafa;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    -webkit-transition: width 100ms ease-in-out;
    -moz-transition: width 100ms ease-in-out;
    transition: width 100ms ease-in-out;
  }
  
  #search input::-webkit-input-placeholder {
    color: transparent;
  }
  
  #search input:-moz-placeholder {
    color: transparent;
  }
  
  #search input::-moz-placeholder {
    color: transparent;
  }
  
  #search input:-ms-input-placeholder {
    color: transparent;
  }
  
  #search .search {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 35px;
    padding: 0;
    border-radius: 100%;
    outline: none;
    border: 0;
    color: #b1a6a6;
    cursor: pointer;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  
  #search .search:before,
  #search .search:after {
    content: "";
    position: absolute;
    width: 1rem;
    height: 0.1rem;
    background-color: #beb6b6;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 3.3rem;
    left: 3rem;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  
  #search .close {
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    right: 0;
    left: inherit;
  }
  
  #search .close:before {
    content: "";
    position: absolute;
    top: 1.7rem;
    left: 1.5rem;
    width: 27px;
    height: 4px;
    margin-top: -1px;
    margin-left: -13px;
    background-color: #c1b7ab;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  
  #search .close:after {
    content: "";
    position: absolute;
    top: 1.7rem;
    left: 1.5rem;
    width: 27px;
    height: 4px;
    margin-top: -1px;
    margin-left: -13px;
    background-color: #ca9964;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  
  #search .square {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 4rem 0 1rem;
    width: 100%;
    height: 35px;
    border: 1px solid #333;
    border-radius: 0;
    color: #b5aeae;
    background-color: transparent;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  
  #search .square::-webkit-input-placeholder {
    color: #bfb9b2;
  }
  
  #search .square:-moz-placeholder {
    color: #e8e0d9;
  }
  
  #search .square::-moz-placeholder {
    color: #ca9964;
  }
  
  #search .square:-ms-input-placeholder {
    color: #ca9964;
  }
  
  #search .square.active #search .square:hover,
  #search .square:focus,
  #search .square:active {
    border-color: #ca9964;
  }
  
  
  
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- 
  
  Center align the text within the three columns below the carousel 
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  .marketing h2 {
    font-weight: 400;
  }
  
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }*/
  
  

  .featurette-divider {
    margin: 0.5rem 0;
    height: 2px;
    /* Space out the Bootstrap <hr> more */
  }
   Thin out the marketing headings 
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  
  
  
  